fastapi
google-cloud-storage
google-cloud-aiplatform
ipython
langchain
langchain-ollama
matplotlib
nltk
numpy
ollama
opencv_python
opencv_python_headless
openpyxl
pandas
pdfplumber
Pillow
protobuf
pydantic
pymupdf
pytesseract
python-dotenv
python_docx
python-multipart
uvicorn
vertexai