catboost
easyocr
fastapi
google-auth
google-auth-oauthlib
google-auth-httplib2
google-cloud-storage
google-cloud-aiplatform
google-genai
ipython
importlib
joblib
langchain
langchain-ollama
matplotlib
nltk
numpy
ollama
opencv-python-headless
openpyxl
pandas
pdfplumber
Pillow
protobuf
pydantic
pymupdf
pyocr
pytesseract
python-dotenv
python_docx
python-multipart
scikit-learn
uvicorn
vertexai